/* YOUR CUSTOM STYLES */
.list-group-item.active {
    background-color: #0000FF;
    border-color:#0000FF;
}

.list-group-item:not(.active) {
    color:#222;
}

.list-group-item:not(.active):hover {
    color:#666;
}

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 20px;
    background-image: url('../images/img_form/donate.png');
    background-repeat: no-repeat;
    background-position: 4% 100%;
    background-size: 250px 370px;
}

.widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
}

.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.divider-new {
    margin-top: 0;
}

  .navbar {
    background-color: #b50019 ;
}

footer.page-footer {
  position:relative;
  left:0px;
  bottom:0;
  width: 100%;
  height: 105px;
  background-color: #b50019;
}
div.main-holder {
  background-color: #b7aaac;
}

body {
    font-family: 'Itim', cursive;
    background-color: #E2E2E2;
}

#detailupload {
    background-image: url('../images/img_form/img_uploadbackground.png');
    background-repeat: no-repeat;
    background-position: 90% 20%;
    background-size: 250px 250px;
}
